* {
  font-family: "Rubik Distressed", system-ui;

  padding: 0;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-image: url(./img/097\ 2.png);
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding-bottom: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

  width: 100%;

  @media (max-width: 800px) {
    /* display: none; */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #251607;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    z-index: 10;

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  a {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #251607;

    @media (max-width: 800px) {
      color: whitesmoke;
    }
  }
}



.logo,
.burger {
  display: none;

  @media (max-width: 800px) {
    display: block;
    z-index: 11;
    cursor: pointer;
  }
}

.header {
  padding: 52px 0 0;

  @media (max-width: 800px) {
    background-image: url(./img/bg-2.png);
    background-position: center;
    padding: 40px 0;
  }
}

.hero__wrapper {
  text-align: center;

  h1 {
    font-size: clamp(5.625rem, -1.023rem + 27.27vw, 26.25rem);
    line-height: 1;
    z-index: -1;
    position: relative;

    @media (max-width:480px) {
      padding: 20px 0 0;
    }
  }

  p {
    margin-bottom: 30px;
    font-size: clamp(1.125rem, 1.044rem + 0.33vw, 1.375rem);
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width:480px) {
      padding: 20px 0;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    @media (max-width:480px) {

      &:first-child {
        display: none;
      }

      justify-content: center;
    }

  }

  img {
    width: 100%;
  }
}



.swiper-slide {
  img {
    width: 100%;
  }
}


.album {
  .container {
    max-width: 1900px;
  }
}


.meet__wrapper {

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;

  @media (max-width: 800px) {
    /* grid-template-columns: 1fr; */


    display: flex;
    flex-direction: column;

  }

  img {
    padding-top: 16px;
    width: 100%;
  }

  p {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;

  }
}

.meet__right {



  h2 {
    /* font-size: 170px; */
    font-size: clamp(3.25rem, 0.792rem + 9.83vw, 10.625rem);
    text-transform: uppercase;
    padding-left: 111px;

    @media (max-width: 800px) {
      text-align: center;
      padding-left: 0;

    }
  }

  p {
    text-align: right;
    max-width: 800px;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 73.5px;

    @media (max-width: 800px) {
      text-align: center;
      margin-top: 30px;

    }
  }
}

.meet {
  padding: 100px 0;
}


.China-1 {

  @media (max-width: 800px) {
    display: none
  }
}

.china-2 {
  display: none;

  @media (max-width: 800px) {
    display: block;
    width: 60%;
    margin: 30px auto;
  }
}






.our__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 7px;

}

.our__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "card-1 card-2 card-4"
    "card-1 card-3 card-5";

    @media (max-width: 1000px) {

      grid-template-columns: 1fr 1fr ; 
      gap: 20px 20px; 
      grid-template-areas: 
        "card-1 card-1"
        "card-2 card-3"
        "card-4 card-5"; 

        align-items: center;
        text-align: center;
       
      
    }
    @media (max-width: 700px) {
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
      grid-template-areas: 
        "card-1"
        "card-2"
        "card-3"
        "card-4"
        "card-5"; 
      
    }

  .card-1 {
    grid-area: card-1;
    background-image: url(./img/plans-1.png);
  }

  .card-2 {
    grid-area: card-2;
    background-image: url(./img/plans-2.png);
  }

  .card-3 {
    grid-area: card-3;
    background-image: url(./img/plans-3.png);
  }

  .card-4 {
    grid-area: card-4;
    background-image: url(./img/plans-4.png);
  }

  .card-5 {
    grid-area: card-5;
    background-image: url(./img/plans-5.png);
  }
}

.our__card {
  min-height: 350px;
  border: 3px solid black;
  display: flex;
  padding: 30px;
  justify-content: end;
  flex-direction: column;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-transform: uppercase;

  @media (max-width: 700px) {
    min-height: 200px;
    text-align: center;
    
  }


  p{
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    @media (max-width: 700px) {
      height: auto;
      
    }
  }

  h3{
    transition: 0.5s;
  }


  &:hover{
    p{
      height: 30px;
    }

    h3{
      font-size: 40px;
    }
  }

}



.our__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.team {
  padding: 100px 0;
}
.team__wrapper {
  display: grid;
  grid-template-columns: 10fr 1fr;
  gap: 60px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 0;
    
  }
}
.team__wrap {

  h2{
    text-transform: uppercase;
    /* font-size: 179px; */
   font-size:  clamp(4.375rem, 2.159rem + 9.09vw, 11.25rem);
  }
}
.team__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
  }
}
.team__card {
  border: 3px solid black;
  /* min-height: 250px; */

  aspect-ratio: 2/1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: end;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  padding: 25px;
  color: rgb(255, 220, 145);
  font-size: 30px;
  font-weight: 600;

  background-size: 120%;
  transition: 0.6s;
  

  &:nth-child(1) {
    background-image: url(./img/team-1.png);
  }

  &:nth-child(2) {
    background-image: url(./img/team-2.png);
  }

  &:nth-child(3) {
    background-image: url(./img/team-3.png);
  }

  &:nth-child(4) {
    background-image: url(./img/team-4.png);
  }
}
.team__img {
  width: 100%;


  @media (max-width: 1200px) {
    display: none;
    
  }
}





.footer__wrap {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 52px;

  @media (max-width:1200px ) {
    grid-template-columns: 1.5fr 1fr;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
.footer__box {
  > img{
    width: 100%;
  }
}
.footer__menu {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;

  a{
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;

  }
}
.footer__eyes {
  border: 3px solid black;
  width: 100%;
}
.footer__text {
  width: 100%;
}








.incubator__inf{
  text-align: center;

  h1 {
    font-size: 206px;
    position: relative;
    z-index: -1;
    text-align: center;
    line-height: .9;

    @media (max-width:480px) {
      padding: 20px 0 0;
    }
  }

  p {
    margin-bottom: 30px;
    font-size: clamp(1.125rem, 1.044rem + 0.33vw, 1.375rem);
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width:480px) {
      padding: 20px 0;
    }
  }
}


.incubator__wrapper{
  margin-top: 15px;
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;

  @media (max-width: 1000px) {
    display: grid;
    grid-template-columns: 1fr;
    
  }
}
.incubator__card{
  border: 4px solid #251607;
  padding: 20px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  transition: all .3s;
  

  &:hover{
    background-color: #251607;
    color: #e69aa4;
  }


  @media (max-width: 760px) {

    flex-direction: column;
    justify-content: center;
    text-align: center;
}



}

.incubator__wrap2{
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.card__text{
  display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all .3s;


    h3{
      text-transform: uppercase;
      font-size: 32px;
    }

    h4{
      text-transform: uppercase;
      font-size: 24px;
    }

    p{
      color: #aeaeae;
    }
}